/* == 공통 == */

section, div {display: block;}

figure {text-align: center;}

#main_header_logo{
    background: #c0412b;
    padding-top: 3px;
    padding-left: 10px;
    text-align: left;
    margin: none;
}

#main_header{
    background: #c0412b;
    padding: 30px;
    text-align: right;
    margin: none;
}

#logo_header{
    padding: 0px;
    width: 150px;
    height: px;
}


.youtiesFooter{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	padding: 15px 0;
    text-align: center;
	color: rgb(193, 57, 43);
}









/* == 로그인 == */
.app{ text-align: center;}

#logo_big{
    margin-top: 200;
}

#sign-in-container {
    display: grid;
    grid-template-columns: 100px 400px 100px;  /*1fr 3fr 1fr;*/
    grid-template-rows: 90px 60px 60px 60px; /*1fr 1fr;*/

    width: 650px;
    height: 300px;
    border: 2px solid rgba(193, 58, 43, 0);     /*투명*/
    margin: 0 auto;
    text-align: center;
}


.div1{
    grid-column: 1/4;
}


.div4{
    grid-column: 3/4;
    grid-row: 2/4;
}


#sign-in-container h2 {
    font-size: 30px;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 60px;
}

#user_email{
    text-align: left;
    padding: 11px 10px;
    margin-left: 10px;
    background: none;
    width: 350px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#user_password{
    text-align: left;
    padding: 11px 10px;
    margin-left: 10px;
    background: none;
    width: 350px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text{
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}

#startSignIn{
    width:100px;
    height:110px;
    font-size:20px;
    margin: 0px 400px 20px 0px;        /* 상 우 하 좌 */
    color: white;
    background-color:rgb(193, 57, 43);
    border-color: none;
    cursor: pointer;
}

#startSignIn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#gotoCreateAccount{
    width: 200px;
    height: 30px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-left: 300px;
    background-color:rgba(192, 58, 43, 0);
    border-color: rgba(192, 58, 43, 0);
    cursor: pointer;
    float: right;
}




/* == 회원가입 == */
#logo_small{
    margin-top: 10;
}

#createAccount {
    width: 350px;
    border: 2px solid rgb(179, 179, 179);
    margin: 0 auto;
}

#createAccount h2 { font: bold 14px; text-align: center; }

#sign-up-container{
    width: 350px;
}

#inputData{
    text-align: center;
}

#inputData_email{
    text-align: center;
}

#inner_inputData{
    margin-left: 25px;
    text-align: left;
    font-size: 17px;
    margin-bottom: 2px;
}

#inner_inputData_caution{
    margin-left: 25px;
    text-align: left;
    font-size: 14px;
    margin-bottom: 2px;
}

#inputData input{
    text-align: left;
    padding: 11px 10px;
    margin-bottom: 10px;
    background: none;
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#email{
    text-align: left;
    padding: 11px 10px;
    margin-bottom: 10px;
    background: none;
    width: 243px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#chk_id{
    width: 50px;
    height: 40px;
    margin-bottom: 10px;

    background: rgb(193, 57, 43);
    border: 1px solid rgb(193, 57, 43);

    padding: 11px 10px; 
    
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

#chk_id:hover{
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#pw_caution label{
    font-size: 14;
    color: rgb(107, 114, 114);
    margin-top: 2px;
    margin-bottom: 2px;
}

#create_btn{
    width:250px;
    height:42px;
    font-size:15px;
    margin: 0px 0px 20px 50px;        /* 상 우 하 좌 */
    color: white;
    background-color:rgb(193, 57, 43);
    border-color: rgb(193, 57, 43);
    cursor: pointer;
}

#create_btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}





/* == 이메일 중복 확인 == */
#idcheck_text{
    text-align: left;
    padding: 11px 10px;
    margin-bottom: 10px;
    background: none;
    width: 300px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 0;
    font-size: 14px;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#idcheck_btn{
    width: 50px;
    height: 40px;
    margin-bottom: 10px;
    color: white;

    background: rgb(193, 57, 43);
    border: 1px solid rgb(193, 57, 43);

    padding: 11px 10px; 
    
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}