@charset "utf-8";

/*상단바*/
#main_header_logo{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background: #c0412b;
    padding-top: 3px;
}

#header-login{
    grid-column: 2/3;

    float: right;
    text-align: right;
    margin-right: 30px;
}

.top_menu {
    margin-top: 13px;
    margin-left: 40px;
    display: inline-block;
    color: white;
    text-decoration: none;
}



/*세팅 윈도우*/
#main_header_logo_s{
    background: #c0412b;
    padding-top: 3px;
    padding-left: 10px;
    text-align: left;
    margin: none;
}

#setting-main{
    width: 80%;
    align-items: center;
    text-align: center;
}

#setting-content{
    text-align: left;
    font-size: larger;
}

#setting_btn{
    padding: 5px;
    border: none;
    background-color: #c0412b;
    color: #ffffff;
    font-size: medium;
}





/*마이페이지*/
#main{
    text-align: center;
    margin-top: 60px;
    margin-left: 200px;
    margin-right: 200px;
}

.main-container{
    /*background:#ffffff;*/
    height: 250px;
    float: center;
}


.pic{
    border: 10px solid #FFFFFF;
    /*background:#ffffff;
    width: 20%;*/
    float: left;
    margin: 5px 5px 5px 5px;
    }

.info{
    border: 10px solid #FFFFFF;
    /*background-color:rgb(224,224,224);
    width: 44%;*/
    float: left;
    height: 150px;
    margin: 10px 10px 10px 10px;
    padding: 20px;
}

.diagram{
    border: 10px solid #FFFFFF;
    /*background:#FFFFFF;
    width: 17%;*/
    float: left;
    height: 190px;
    margin: 10px 10px 10px 10px;
}




.tag{
    padding: 8px;
    text-align: center;
    width: 80px;
    height: 20px;
    background-color:rgb(193,57,43);
    float: left;
    border-radius: 8%;
    margin: 7px;
}




#setting{
    float: right;
    background-color: #ffffff00;    /*투명*/
    border: none;
}






/* 그리드 작업 */

#grid-main{
    /*텍스트 내용 왼쪽 정렬*/
    text-align: left;  

    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: 250px 1fr;

    /* grid 내 row 간격 */
    row-gap: 30px;

    /* grid 내 column 간격 */
    column-gap: 30px;
    
    /*border: 2px solid rgb(179, 34, 18);     /*투명으로 바꾸기*/
    margin: 0 auto;

    border: #c0412b;
}

#div1{
    grid-column: 1/13;
    grid-row: 1/2;

    width: 100%;
    height: 250px;
    background-color: rgb(224,224,224);
    border: #c0412b;
}

#div2{
    grid-column: 13/23;
    grid-row: 1/2;

    width: 100%;
    height: 250px;
    background-color:rgb(224,224,224);
    border: #c0412b;
}

#div3{
    grid-column: 1/12;
    grid-row: 2/3;
    width: 100%;
    background-color: rgb(224,224,224);
    border: #c0412b;
}

#div4{
    grid-column: 12/23;
    grid-row: 2/3;
    width: 100%;
    background-color:rgb(224,224,224);
    border: #c0412b;
}



#setting-img{
    border: none;
}

