/* youties_comments_김지현_201201_08시30분 */
@charset "utf-8";

.article-container{
    padding: 30px;
}

.header-inner{
    padding: 15px 15px 5px 15px;
    background-color:rgb(193,57,43);}

.article{
    padding: 15px;
    border: 2px solid #000000;
    background-color:rgb(224,224,224);
    width: 70%;
    height: auto;
    margin: 30px 30px 30px 30px;
}
#figcaption { font: italic 14px verdana, sans-serif; text-align: right; }
